NUXT_SESSION_PASSWORD=
NUXT_CAMPAI_API_KEY_CONTACTS=
NUXT_CAMPAI_ORG_ID=
NUXT_CRON_TOKEN=
NUXT_LADV_API_KEY=
NUXT_EMAIL_PROVIDER=[console|azure-fetch]
NUXT_EMAIL_AZURE_STRING=
NUXT_EMAIL_SENDER_ADDRESS=donotreply@berlin-track-club.de
NUXT_EMAIL_TEST_MODE=true
NUXT_EMAIL_TEST_ADDRESS=paul.diepold@outlook.de
NUXT_OG_IMAGE_SECRET=
NUXT_PUBLIC_TURNSTILE_SITE_KEY=
NUXT_TURNSTILE_SECRET_KEY=