@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Raleway', sans-serif;
}

:root {
  /* Main background color */
  --ui-bg: var(--ui-color-neutral-50);
  /* Subtle background */
  --ui-bg-muted: var(--ui-color-neutral-100);
  /* Slightly elevated background */
  --ui-bg-elevated: var(--ui-color-neutral-100);
  /* More prominent background */
  --ui-bg-accented: var(--ui-color-neutral-200);
  /* Inverted background color */
  --ui-bg-inverted: var(--ui-color-neutral-900);
  --ui-text-dimmed: var(--ui-color-neutral-800);
  --ui-border-accented: var(--ui-color-neutral-300);
}

.dark {
  /* Main background color */
  --ui-bg: var(--ui-color-neutral-900);
  /* Subtle background */
  --ui-bg-muted: var(--ui-color-neutral-800);
  /* Slightly elevated background */
  --ui-bg-elevated: var(--ui-color-neutral-800);
  /* More prominent background */
  --ui-bg-accented: var(--ui-color-neutral-700);
  /* Inverted background color */
  --ui-bg-inverted: var(--color-white);
  --ui-text-dimmed: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-600);
}
