{{#> base title="Willkommen bei den BTC Wettkämpfen"}}
  <p>Hallo {{name}},</p>
  
  <p>herzlich willkommen bei den BTC Wettkämpfen! Wir freuen uns, dass Sie sich angemeldet haben.</p>
  
  <p>Ihre Anmeldung wurde erfolgreich verarbeitet. Hier sind Ihre Details:</p>
  
  <ul>
    <li>Name: {{name}}</li>
    <li>E-Mail: {{email}}</li>
    <li>Kategorie: {{category}}</li>
  </ul>
  
  <p>Für weitere Informationen besuchen Sie bitte unsere Website oder kontaktieren Sie uns direkt.</p>
  
  <p>Viel Erfolg und Spaß beim Training!</p>
{{/base}} 